.header {
  padding: 80px;
  text-align: left;
  background-image: url(../images/VRHeadset.jpg);
  background-repeat: no-repeat;
  color: white;
  font-size: 30px;
}

body {
  background-color: rgb(1, 4, 75);
}

.card-text {
  color: black;
  text-align: center;
}

.card-title {
  color: black;
  text-align: center;
  text-decoration: underline;
}

h2 {
  text-align: center;
}

ul {
  list-style: none;
}
