.header {
  padding: 80px;
  text-align: left;
  background-image: url(../images/VRHeadset.jpg);
  background-repeat: no-repeat;
  color: white;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif ;
}

body {
  background-color: rgb(1, 4, 75);
}

.card-text {
  color: black;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-title {
  color: black;
  text-align: center;
  text-decoration: underline;
}

h2 {
  text-align: center;
}

video {
  display: block;
  margin: 0 auto;
}

.videoText {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
  text-align: center;
}

.aboutMe {
  font-size: larger;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.column {
  float:left;
  padding: 25px;
}

#highlight {
  font-weight: bold;
}

#underline {
  text-decoration: underline;
}
