.header {
  padding: 80px;
  text-align: left;
  background-image: url(../images/VRHeadset.jpg);
  background-repeat: no-repeat;
  color: white;
  font-size: 30px;
}

body {
  background-color: black;
  color: white;
}
